<?xml version="1.0"?>
<config>
  <modules>
    <Tshirt_Test>
      <version>0.1.0</version>
    </Tshirt_Test>
  </modules>
  <frontend>
    <routers>
      <test>
        <use>standard</use>
        <args>
          <module>Tshirt_Test</module>
          <frontName>test</frontName>
        </args>
      </test>
    </routers>
    <layout>
      <updates>
        <test>
          <file>test.xml</file>
        </test>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <test>
        <class>Tshirt_Test_Helper</class>
      </test>
    </helpers>
    <blocks>
      <test>
        <class>Tshirt_Test_Block</class>
      </test>
      <checkout>
        <rewrite>
          <links>Tshirt_Test_Block_Links</links>
        </rewrite>
      </checkout>
      <catalog>
        <rewrite>
          <naviguation>Tshirt_Test_Block_Navigation</naviguation>
        </rewrite>
      </catalog>
    </blocks>
  </global>
</config> 