<?xml version="1.0"?>
<config>
  <modules>
    <Idem_Test>
      <version>0.1.0</version>
    </Idem_Test>
  </modules>
  <frontend>
  	<routers>
  		<test>
  			<use>standard</use>
  			<args>
  				<module>Idem_Test</module>
  				<frontName>test</frontName>
  			</args>
  		</test>
  	</routers>
  	<layout>
 	    <updates>
            <test>
                <file>test.xml</file>
            </test>
        </updates>
  	</layout>
  </frontend>
  <global>
    <helpers>
      <test>
        <class>Idem_Test_Helper</class>
      </test>
    </helpers>
    <blocks>
    	<test><class>Idem_Test_Block</class></test>
    	<checkout>
    		<rewrite>
    			<links>Idem_Test_Block_Links</links>
    		</rewrite>
    	</checkout>
    	<catalog>
    		<rewrite>
    			<navigation>Idem_Test_Block_Navigation</navigation>
    		</rewrite>
    	</catalog>
    </blocks>
  </global>
</config>