<?xml version="1.0"?>
<config>
	<modules>
		<Idem_Testimonial>
			<version>1.0.1</version>
		</Idem_Testimonial>
	</modules>
	<frontend>
		<routers>
			<testimonial>
				<use>standard</use>
				<args>
					<module>Idem_Testimonial</module>
					<frontName>testimonial</frontName>
				</args>
			</testimonial>
		</routers>
		<layout>
            <updates>
                <testimonial>
                    <file>testimonial.xml</file>
                </testimonial>
            </updates>
        </layout>
	</frontend>
	<admin>
		<routers>
			<nimportkoi>
				<use>admin</use>
				<args>
					<module>Idem_Testimonial</module>
					<frontName>admintestimonial</frontName>
				</args>
			</nimportkoi>
		</routers>
	</admin>
	<adminhtml>
	   <layout>
	      <updates>
	          <testimonial>
	              <file>testimonial.xml</file>
	           </testimonial>
	      </updates>
	   </layout>
	   <menu>
	      <testimonial translate="title" module="adminhtml">
	         <title>Témoignages</title>
	         <sort_order>100</sort_order>
	         <children>
	             <set_time>
	                   <title>Modérer les témoignages</title>
	                   <action>nimportkoi/adminhtml_index</action>
	              </set_time>
	          </children>
	       </testimonial>
	    </menu>
	    <acl>
	        <resources>
	            <admin>
	                <children>
	                	<testimonial>
	                		<title>Menu Temoignage</title>
	                	</testimonial>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <testimonial_section translate="title">
	                                        <title>Configuration Temoignage Extensions</title>
	                                        <sort_order>100</sort_order>
	                                    </testimonial_section>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
	</adminhtml>
	<global>
		<blocks>
			<testimonial>
				<class>Idem_Testimonial_Block</class>
			</testimonial>
		</blocks>
		<helpers>
			<testimonial>
				<class>Idem_Testimonial_Helper</class>
			</testimonial>
		</helpers>
		<models>
			<testimonial>
				<class>Idem_Testimonial_Model</class>
				<resourceModel>testimonial_resource</resourceModel>
			</testimonial>
			<testimonial_resource>
				<class>Idem_Testimonial_Model_Resource</class>
				<entities>
					<testimonial>
						<table>testimonial</table>
					</testimonial>
				</entities>
			</testimonial_resource>
		</models>
		<resources>
			<testimonial_setup>
				<setup>
					<module>Idem_Testimonial</module>
				</setup>
				<connection>
                    <use>core_setup</use>
                </connection>
			</testimonial_setup>
			<testimonial_write>
				<connection>
					<use>core_write</use>
				</connection>
			</testimonial_write>
			<testimonial_read>
				<connection>
					<use>core_read</use>
				</connection>
			</testimonial_read>
		</resources>
	</global>
</config>