<?xml version="1.0"?>
<config>
	<modules>
		<Idem_Dieti>
			<version>1.0.0</version>
		</Idem_Dieti>
	</modules>
	<global>
		<blocks>
			<dieti>
				<class>Idem_Dieti_Block</class>
			</dieti>
		</blocks>
		<helpers>
			<dieti>
				<class>Idem_Dieti_Helper</class>
			</dieti>
		</helpers>
	</global>
</config>