<?xml version="1.0"?>
<config>
	<modules>
		<Tshirt_Testimonial>
			<version>0.1.1</version>
		</Tshirt_Testimonial>
	</modules>
	<frontend>
		<routers>
			<testimonial>
				<use>standard</use>
				<args>
					<module>Tshirt_Testimonial</module>
					<frontName>testimonial</frontName>
				</args>
			</testimonial>
		</routers>
		<layout>
			<updates>
				<testimonial>
					<file>testimonial.xml</file>
				</testimonial>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<testimonial>
				<use>admin</use>
				<args>
					<module>Tshirt_Testimonial</module>
					<frontName>admintestimonial</frontName>
				</args>
			</testimonial>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<testimonial>
							<title>Menu testimonial</title>
						</testimonial>
						<system>
							<children>
								<config>
									<children>
										<testimonial_section>
											<title>testimonial</title>
											<sort_order>100</sort_order>
										</testimonial_section>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<testimonial>
					<file>testimonial.xml</file>
				</testimonial>
			</updates>
		</layout>
		<menu>
			<testimonial translate="title" module="adminhtml">
				<title>Testimonial</title>
				<sort_order>100</sort_order>
				<children>
					<set_time>
						<title>Liste des testimoniaux</title>
						<action>admintestimonial/adminhtml_index</action>
					</set_time>
				</children>
			</testimonial>
		</menu>
	</adminhtml>
	<global>
		<models>
			<testimonial>
				<class>Tshirt_Testimonial_Model</class>
				<resourceModel>testimonial_resource</resourceModel>
			</testimonial>
			<testimonial_resource>
				<class>Tshirt_Testimonial_Model_Resource</class>
				<entities>
					<testimonial>
						<table>testimonial</table>
					</testimonial>
				</entities>
			</testimonial_resource>
		</models>
		<resources>
			<testimonial_setup>
				<setup>
					<module>Tshirt_Testimonial</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</testimonial_setup>
			<testimonial_read>
				<connection>
					<use>core_read</use>
				</connection>
			</testimonial_read>
			<testimonial_write>
				<connection>
					<use>core_write</use>
				</connection>
			</testimonial_write>
		</resources>
		<helpers>
			<testimonial>
				<class>Tshirt_Testimonial_Helper</class>
			</testimonial>
		</helpers>
		<blocks>
			<testimonial>
				<class>Tshirt_Testimonial_Block</class>
			</testimonial>
			<checkout>
				<rewrite>
					<links>Tshirt_Testimonial_Block_Links</links>
				</rewrite>
			</checkout>
		</blocks>
	</global>
</config> 