<?xml version="1.0" ?>

<config>
    <modules>
        <Idem_Slider>
            <version>1.0.0</version>
        </Idem_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Idem_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <slider>
                <class>Idem_Slider_Block</class>
            </slider>
        </blocks>
        <models>
            <slider>
                <class>Idem_Slider_Model</class>
                <resourceModel>slider_resource</resourceModel>
            </slider>
            <slider_resource>
                <class>Idem_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                </entities>
            </slider_resource>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Idem_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
        </resources>
        <helpers>
            <slider>
                <class>Idem_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
    <admin>
        <routers>
            <slider>
                <use>admin</use>
                <args>
                    <module>Idem_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
        <menu>
            <cms>
                <title>CMS</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="slider">
                        <title>Sliders</title>
                        <sort_order>999</sort_order>
                        <action>slider/adminhtml_index</action>
                    </items>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <slider_section translate="title">
                                            <title>Sliders</title>
                                            <sort_order>100</sort_order>
                                        </slider_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <slider_section>
            <slider_group>
                <autoplay_field>1</autoplay_field>
                <time_field>400</time_field>
                <vitesse_field>300</vitesse_field>
            </slider_group>
        </slider_section>
    </default>
</config>